<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DynamicSourceWatcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <DynamicSourceWatcher.Properties.Settings>
            <setting name="workdir" serializeAs="String">
                <value>C:\work</value>
            </setting>
            <setting name="cppcheck_exe" serializeAs="String">
                <value>C:\Program Files\Cppcheck\cppcheck.exe</value>
            </setting>
            <setting name="checklevel" serializeAs="String">
                <value>warning,style</value>
            </setting>
            <setting name="format" serializeAs="String">
                <value>vs</value>
            </setting>
        </DynamicSourceWatcher.Properties.Settings>
    </userSettings>
</configuration>